---
import BaseHead from '../../components/BaseHead.astro';
import Contenedor from '@/components/playground/Contenedor';
import ChatGPT from '@/components/playground/ChatGPT';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Navbar from '@/components/Navbar';
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort();
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul li img {
        border: 1px solid #19191a;
        border-radius: 10px;
      }

      ul p {
        margin: 12px 0;
      }
      :root {
        color-scheme: dark;
      }
      main {
        margin: auto;
        width: 700px;
        max-width: calc(100% - 2rem);
      }
    </style>
  </head>
  <body>
    <Navbar client:idle />
    <div class='gradient-blur'>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div
      class='gradientTop fixed left-0 top-0 z-50 h-[50px] w-full bg-gradient-to-b from-[#0D0D0D] to-transparent'
    >
    </div>
    <main>
      <section>
        <ul class='grid gap-6 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2'>
          <Contenedor>
            <ChatGPT client:idle />
          </Contenedor>

          {
            posts.map((post) => (
              <a href={`/playground/${post.slug}/`}>
                <li class='rounded-2xl border border-[#19191A] p-4'>
                  <img
                    src={`/screenshots/${post.slug}.png`}
                    alt={post.slug + 'Component'}
                  />

                  <p class='w-full font-medium text-[#EEEEEC]'>
                    {post.data.title}
                  </p>
                </li>
              </a>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
