---
import Modal from '../components/playground/Modal';
import Reload from '../components/playground/Reload';
import Contenedor from '../components/playground/Contenedor';
import Purchase from '../components/playground/Purchase';
import Toast from '../components/playground/Toast';
import Crypto from '../components/playground/Crypto';
import Cards from '../components/playground/Cards';
import Exchange from '../components/playground/Exchange';

import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title='Playground'>
  <main>
    <section class='mt-0'>
      <Contenedor
        url='/purchase'
        showDescription={true}
        arrow={true}
        descripcion=`Card Stack`
        tags='framer-motion'
        client:load
      >
        <Exchange client:load />
      </Contenedor>

      <Contenedor
        url='/purchase'
        showDescription={true}
        arrow={true}
        descripcion=`Card Stack`
        tags='framer-motion'
        client:load
      >
        <Cards client:load />
      </Contenedor>

      <Contenedor
        url='/purchase'
        showDescription={true}
        arrow={true}
        descripcion=`Purchase Confirmation`
        tags='framer-motion'
        client:load
      >
        <Crypto client:load />
      </Contenedor>

      <Contenedor
        url='/purchase'
        showDescription={true}
        arrow={true}
        descripcion=`Purchase Confirmation`
        tags='framer-motion'
        client:load
      >
        <Purchase client:load />
      </Contenedor>

      <Toast client:load />

      <Contenedor
        url='/delete'
        showDescription={true}
        arrow={true}
        descripcion=`Delete Project Modal`
        tags='framer-motion'
        client:load
      >
        <Modal client:load />
      </Contenedor>
      <Contenedor
        url=''
        showDescription={true}
        arrow={true}
        descripcion=`Micro Interactions`
        tags='micro-interaction'
        client:load
      >
        <Reload client:load />
      </Contenedor>
    </section>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }

  .maxContent {
    width: 750px;
    max-width: calc(100% - 5rem);
  }
</style>
<!-- <astro:export name='Contenedor' as={Contenedor}></astro:export>
<astro:export name='Buttons' as={Buttons}></astro:export> -->
